header{
    background: #3E3E3E;
    padding: 17px 40px;
    margin: 0;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: #fff;
    font-size: 20px;
}

.search input {
    width: 750px;
    background: #323232;
    color: #fff;
    border: none;
    border-radius: 22px;
    padding: 20px 30px;
}

.connect_wallet button{
    color: black;
    border-radius: 22px;
    border: 1px solid #fff;
    padding: 20px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bolder;
}
.connect_wallet button:hover{
    transform: scale(1.1);
    transition-timing-function: ease;
    transition: 0.2s;
}
.search img{
    position: relative;
    right: 3rem;
    top:15px
}

.header-menu-icon {
    margin-right: -80px
}

.header-menu-icon img {
    margin-left: -13px;
    width: 30px;
}